# Exemple de traitement de données Coriolis

## Étape 1 : chargement d'un fichier de données

In [6]:
df <- read.csv(file="DataTest_Carnot_2005.csv", header=TRUE, sep="," ,dec=".")
head(df)

  X     PLATFORM DATE..yyyy.mm.ddThh.mi.ssZ. LATITUDE..degree_north.
1 15504 62443    2005-01-01T00:16:33Z        50.7451
2 15505 62443    2005-01-01T00:36:33Z        50.7451
3 15506 62443    2005-01-01T00:56:32Z        50.7451
4 15507 62443    2005-01-01T01:16:32Z        50.7451
5 15508 62443    2005-01-01T01:36:32Z        50.7451
6 15509 62443    2005-01-01T02:16:33Z        50.7451
  LONGITUDE..degree_east. DRYT.LEVEL0..degree_Celsius. DEPH.LEVEL0..meter.
1 1.5696                  8.53                         0
2 1.5696                  8.80                         0
3 1.5696                  8.81                         0
4 1.5696                  8.75                         0
5 1.5696                  8.85                         0
6 1.5696                  8.86                         0
  GSPD.LEVEL0..meter.second. RELH.LEVEL0.... SLEV.LEVEL0..meter. ⋯
1 NA                         75.66           NA                  ⋯
2 NA                         75.95           NA                  ⋯
3 NA                         77.94           NA                  ⋯
4 NA                         79.28           NA                  ⋯
5 NA                         82.06           NA                  ⋯
6 NA                         86.12           NA                  ⋯
  PHPH.LEVEL1..none. SLCA.LEVEL1..millimole.m3.
1 8.13               NA
2 8.11               NA
3 8.10               NA
4 8.12               NA
5 8.11               NA
6 8.10               NA
  START_CYCLE_FLOW.LEVEL1..l.minute. TUR4.LEVEL1..ntu. DEPH.LEVEL2..meter.
1 NA                                 19.3              NA
2 NA                                 19.8              NA
3 NA                                 11.9              NA
4 NA                                  9.4              NA
5 NA                                  7.5              NA
6 NA                                  7.3              NA
  NTRZ.LEVEL2..millimole.m3. PHOS.LEVEL2..millimole.m3.
1 NA                         NA
2 NA                         NA
3 NA                         NA
4 NA                         NA
5 NA                         NA
6 NA                         NA
  SLCA.LEVEL2..millimole.m3. QC                    MAREL_DATASTATE_1
1 NA                         1,11179199911999E+030 2
2 NA                         1,11179199911999E+030 2
3 NA                         1,11179199911999E+030 2
4 NA                         1,11179199911999E+030 2
5 NA                         1,11179199911999E+030 2
6 NA                         1,11179199911999E+030 2

### Types des variables

In [9]:
data.type = sapply(df,class)
unique(data.type)

[1] "integer" "factor"  "numeric" "logical"

### Nombre de lignes

In [11]:
nrow(df)

[1] 21419

### Nombre de colonnes

In [12]:
ncol(df)

[1] 35

### Nom des variables

In [13]:
names(df)

 [1] "X"
 [2] "PLATFORM"
 [3] "DATE..yyyy.mm.ddThh.mi.ssZ."
 [4] "LATITUDE..degree_north."
 [5] "LONGITUDE..degree_east."
 [6] "DRYT.LEVEL0..degree_Celsius."
 [7] "DEPH.LEVEL0..meter."
 [8] "GSPD.LEVEL0..meter.second."
 [9] "RELH.LEVEL0...."
[10] "SLEV.LEVEL0..meter."
[11] "WDIR.LEVEL0..degree."
[12] "WSPD.LEVEL0..meter.second."
[13] "TEMP.LEVEL1..degree_Celsius."
[14] "PSAL.LEVEL1..psu."
[15] "BATTERY.LEVEL1..volt."
[16] "CNDC.LEVEL1..S.m."
[17] "DEPH.LEVEL1..meter."
[18] "DOX1.LEVEL1..ml.l."
[19] "END_CYCLE_FLOW.LEVEL1..l.minute."
[20] "FLU3.LEVEL1..FFU."
[21] "LGH4.LEVEL1..micromole.photon..m2.s.."
[22] "MASS_DOXY.LEVEL1..milligram.m3."
[23] "NTRZ.LEVEL1..millimole.m3."
[24] "OSAT.LEVEL1...."
[25] "PHOS.LEVEL1..millimole.m3."
[26] "PHPH.LEVEL1..none."
[27] "SLCA.LEVEL1..millimole.m3."
[28] "START_CYCLE_FLOW.LEVEL1..l.minute."
[29] "TUR4.LEVEL1..ntu."
[30] "DEPH.LEVEL2..meter."
[31] "NTRZ.LEVEL2..millimole.m3."
[32] "PHOS.LEVEL2..millimole.m3."
[33] "SLCA.LEVEL2..millimole.m3."
[34] "QC"
[35] "MAREL_DATASTATE_1"

### Statistiques générales

In [8]:
summary(df)

       X            PLATFORM           DATE..yyyy.mm.ddThh.mi.ssZ.
 Min.   :15504   Min.   :62443   2005-01-01T00:16:33Z:    1
 1st Qu.:20858   1st Qu.:62443   2005-01-01T00:36:33Z:    1
 Median :26213   Median :62443   2005-01-01T00:56:32Z:    1
 Mean   :26213   Mean   :62443   2005-01-01T01:16:32Z:    1
 3rd Qu.:31568   3rd Qu.:62443   2005-01-01T01:36:32Z:    1
 Max.   :36922   Max.   :62443   2005-01-01T02:16:33Z:    1
                                 (Other)             :21413
 LATITUDE..degree_north. LONGITUDE..degree_east. DRYT.LEVEL0..degree_Celsius.
 Min.   :50.75           Min.   :1.57            Min.   :-3.02
 1st Qu.:50.75           1st Qu.:1.57            1st Qu.: 8.00
 Median :50.75           Median :1.57            Median :12.35
 Mean   :50.75           Mean   :1.57            Mean   :12.16
 3rd Qu.:50.75           3rd Qu.:1.57            3rd Qu.:16.22
 Max.   :50.75           Max.   :1.57            Max.   :77.77
                                                 NA's   :570
 DEPH.LEVEL0..meter. GSPD.LEVEL0..meter.second. RELH.LEVEL0....
 Min.   :0           Mode:logical               Min.   :36.29
 1st Qu.:0           NA's:21419                 1st Qu.:73.55
 Median :0                                      Median :81.35
 Mean   :0                                      Mean   :80.10
 3rd Qu.:0                                      3rd Qu.:88.00
 Max.   :0                                      Max.   :98.13
 NA's   :569                                    NA's   :570
 SLEV.LEVEL0..meter. WDIR.LEVEL0..degree. WSPD.LEVEL0..meter.second.
 Min.   :-15.09      Mode:logical         Mode:logical
 1st Qu.:  8.33      NA's:21419           NA's:21419
 Median : 10.64
 Mean   : 10.89
 3rd Qu.: 12.74
 Max.   : 77.77
 NA's   :3128
 TEMP.LEVEL1..degree_Celsius. PSAL.LEVEL1..psu. BATTERY.LEVEL1..volt.
 Min.   : 3.60                Min.   : 0.32     Mode:logical
 1st Qu.: 8.00                1st Qu.:33.47     NA's:21419
 Median :12.20                Median :33.79
 Mean   :12.37                Mean   :33.69
 3rd Qu.:16.80                3rd Qu.:34.09
 Max.   :20.40                Max.   :34.69
 NA's   :211                  NA's   :211
 CNDC.LEVEL1..S.m. DEPH.LEVEL1..meter. DOX1.LEVEL1..ml.l.
 Mode:logical      Min.   :3           Min.   : 3.079
 NA's:21419        1st Qu.:3           1st Qu.: 4.367
                   Median :3           Median : 5.913
                   Mean   :3           Mean   : 5.760
                   3rd Qu.:3           3rd Qu.: 6.739
                   Max.   :3           Max.   :11.393
                   NA's   :20850       NA's   :811
 END_CYCLE_FLOW.LEVEL1..l.minute. FLU3.LEVEL1..FFU.
 Mode:logical                     Min.   :0.000
 NA's:21419                       1st Qu.:0.420
                                  Median :0.820
                                  Mean   :1.319
                                  3rd Qu.:1.770
                                  Max.   :9.890
                                  NA's   :182
 LGH4.LEVEL1..micromole.photon..m2.s.. MASS_DOXY.LEVEL1..milligram.m3.
 Min.   :  -0.9                        Mode:logical
 1st Qu.:   0.0                        NA's:21419
 Median :   8.1
 Mean   : 274.9
 3rd Qu.: 391.4
 Max.   :2358.9
 NA's   :571
 NTRZ.LEVEL1..millimole.m3. OSAT.LEVEL1.... PHOS.LEVEL1..millimole.m3.
 Min.   :-4442.500          Mode:logical    Min.   :-224.290
 1st Qu.:    3.377          NA's:21419      1st Qu.:   0.228
 Median :    5.705                          Median :   0.630
 Mean   :   14.297                          Mean   :  -0.337
 3rd Qu.:   14.480                          3rd Qu.:   1.062
 Max.   : 7002.830                          Max.   : 403.000
 NA's   :20677                              NA's   :20715
 PHPH.LEVEL1..none. SLCA.LEVEL1..millimole.m3.
 Min.   :-0.110     Min.   :-7922.600
 1st Qu.: 8.520     1st Qu.:    0.865
 Median : 8.840     Median :    1.900
 Mean   : 8.989     Mean   :    6.826
 3rd Qu.: 9.150     3rd Qu.:    4.085
 Max.   :15.760     Max.   :10561.000
 NA's   :4368       NA's   :20760
 START_CYCLE_FLOW.LEVEL1..l.minute. TUR4.LEVEL1..ntu.   DEPH.LEVEL2..meter.
 Mode:logical                       Min.   :-2539.500   Mode:logical
 NA's:21419                         1st Qu.:    3.700   NA's:21419
                                    Median :    5.400
                                    Mean   :    9.742
                                    3rd Qu.:    9.800
                                    Max.   :  842.100
                                    NA's   :250
 NTRZ.LEVEL2..millimole.m3. PHOS.LEVEL2..millimole.m3.
 Mode:logical               Mode:logical
 NA's:21419                 NA's:21419





 SLCA.LEVEL2..millimole.m3.                     QC        MAREL_DATASTATE_1
 Mode:logical               1,11179119911999E+030:12882   Min.   :2
 NA's:21419                 1,11179149911999E+030: 4084   1st Qu.:2
                            1,11179199911999E+030: 2557   Median :2
                            1,11179119912E+030   :  523   Mean   :2
                            1,11999999911997E+030:  522   3rd Qu.:2
                            1,11179139911999E+030:  460   Max.   :2
                            (Other)              :  391